@import '../../css-utils/colors';

#dashboard-content {
  margin-top: 5rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito Sans', Verdana, Helvetica, sans-serif;

  #user-details {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 0 $darkgray;
    font-family: 'Nunito', sans-serif;
    color: $lightgray;
    background: repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1) 9%,
        rgba(0, 0, 0, 0.1) 10%
      )
      $accent;

    > * {
      margin-bottom: 1rem;
    }

    & div:last-child {
      margin-bottom: 0;
    }

    #user-details-type {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      color: yellow;
    }

    #user-details-name {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: white;
    }

    #user-details-email {
      font-family: 'PT Sans', sans-serif;
    }
  }

  #user-notifications {
    width: 40%;
    display: flex;
    flex-direction: column;

    .user-notification {
      margin-top: 5rem;
      padding: 0.5rem 1rem;
      border-top: 1px solid $silver;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &:last-of-type {
        border-bottom: 1px solid $silver;
      }

      h4 {
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        text-align: center;

        &.user-notification-yes {
          color: $accentdark;
        }

        &.user-notification-no {
          color: coral;
        }

        span {
          margin-right: 1rem;
          padding: 0.325rem 0.5rem;
          border: 1px solid $darkgray;
          border-radius: 0.25rem;
          color: black;
          background: $lightgray;
          cursor: pointer;
          transition: all 0.25s ease;

          &:hover {
            color: white;
            background: $accent;
          }
        }
      }

      .user-notification-remove {
        width: 2rem;
        height: 2rem;
        border: 1px solid $darkgray;
        border-radius: 25%;
        font-size: 1.25rem;
        text-align: center;
        line-height: 2rem;
        color: $darkgray;
        background: $silver;
        cursor: pointer;
        transition: all 0.25s ease;

        &:hover {
          background: $lightgray;
        }
      }
    }
  }

  > h2 {
    margin-top: 4rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.25px;
    text-align: center;

    &:last-of-type {
      margin-top: 4rem;
    }
  }

  table {
    height: 100px;
  }

  #user-awaiting-table {
    table {
      tr {
        th:nth-of-type(1),
        td:nth-of-type(1) {
          width: 30%;
        }

        th:nth-of-type(2),
        td:nth-of-type(2) {
          width: 27.5%;
        }

        th:nth-of-type(3),
        td:nth-of-type(3) {
          width: 30%;
        }

        th:nth-of-type(4),
        td:nth-of-type(4) {
          width: 12.5%;
        }

        .awaiting-clear-btn {
          text-align: left;

          > div {
            padding: 0.25rem 0.5rem;
            border: 1px solid $darkgray;
            border-radius: 0.25rem;
            font-weight: 600;
            background: $lightgray;
            cursor: pointer;
            transition: all 0.25s ease;

            &:hover {
              color: white;
              background: coral;
            }
          }

          &.waiting {
            > div {
              color: rgba(0, 0, 0, 0);
              background: url('/images/loading-3.gif') no-repeat;
              background-size: contain;
              background-position: center;
            }
          }
        }
      }
    }
  }

  #pending-table {
    table {
      tr {
        th:nth-of-type(1),
        td:nth-of-type(1) {
          width: 15%;
        }

        th:nth-of-type(2),
        td:nth-of-type(2) {
          width: 15%;
        }

        th:nth-of-type(3),
        td:nth-of-type(3) {
          width: 27.5%;
        }

        th:nth-of-type(4),
        td:nth-of-type(4) {
          width: 27.5%;
        }

        th:nth-of-type(5),
        td:nth-of-type(5) {
          width: 12.5%;
        }

        .awaiting-transID {
          color: $footertext;
          font-weight: 600;
        }

        button {
          height: 2.375rem;
          width: 5rem;
          padding: 0.25rem 0.25rem 0.375rem 0.25;
          font-weight: 600;
          color: white;
          outline: none;
          border: 1px solid $darkgray;
          border-radius: 0.25rem;
          cursor: pointer;
          transition: all 0.5s ease;

          &:hover {
            box-shadow: 0 0 0.5rem 0 $accent;
          }

          &.return-btn-ok {
            background: $accent;
          }

          &.return-btn-due {
            background: coral;
          }

          &.return-btn-awaiting-ok {
            border: none;
            background: rgba(0, 0, 0, 0);
            color: $accent;
            cursor: initial;

            &:hover {
              box-shadow: none;
            }
          }

          &.return-btn-awaiting-due {
            border: none;
            background: white;
            color: coral;
            cursor: initial;

            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }
  }

  #outstanding-table {
    table {
      tr {
        th:nth-of-type(1),
        td:nth-of-type(1) {
          width: 15%;
        }

        th:nth-of-type(2),
        td:nth-of-type(2) {
          width: 15%;
        }

        th:nth-of-type(3),
        td:nth-of-type(3) {
          width: 27.5%;
        }

        th:nth-of-type(4),
        td:nth-of-type(4) {
          width: 27.5%;
        }

        th:nth-of-type(5),
        td:nth-of-type(5) {
          width: 12.5%;
        }
      }
    }
  }
}
