@import '../../css-utils/colors';

.auth-modal {
  position: relative;
  width: 35rem;
  height: 25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  background: white;
  box-shadow: 0 0 1rem 0 $shadow;
  overflow: hidden;

  > * {
    height: inherit;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .wide-box {
    width: 25rem;
    padding: 2rem 4.5rem;
  }

  .narrow-box {
    width: 10rem;
    padding: 1.25rem;
  }

  .fixed-box {
    > * {
      width: 100%;
      color: $accentDark;
    }

    button {
      border-color: $accentDark;
    }

    button:hover,
    button:focus {
      background: $accentDark;
      color: white;
    }

    form {
      .input-field {
        border-color: $silver;
        color: $darkgray;
        background: $silver;

        input {
          border-color: $silver;
          background: $silver;
        }

        ::placeholder {
          color: $lightgray;
        }
      }

      input[type='submit'] {
        border-color: $accentDark;
      }

      input[type='submit']:hover,
      input[type='submit']:focus {
        color: white;
        background: $accentDark;
      }
    }
  }

  .float-box {
    position: relative;
    border-radius: 1rem;
    background: $accentDark;
    box-shadow: 0 0 1rem 0 $shadow;
    overflow: hidden;

    > * {
      width: 100%;
      color: white;
    }

    > *:not(span) {
      position: relative;
      z-index: 1;
    }

    button {
      border-color: white;
    }

    button:hover,
    button:focus {
      background: white;
      color: $accentDark;
    }

    form {
      .input-field {
        border-color: $accentLight;
        background: $accentLight;

        input {
          border-color: $accentLight;
          background: $accentLight;
        }

        ::placeholder {
          color: white;
        }
      }

      input[type='submit'] {
        border-color: white;
      }

      input[type='submit']:hover,
      input[type='submit']:focus {
        background: $accentLight;
      }
    }

    .art-bubble {
      position: absolute;
      border-radius: 50%;
      background: $accentLight;
    }

    .art-bubble:nth-of-type(1) {
      width: 5rem;
      height: 5rem;
      top: 2rem;
      left: -1.25rem;
    }

    .art-bubble:nth-of-type(2) {
      width: 8rem;
      height: 8rem;
      bottom: -2rem;
      left: -1rem;
    }

    .art-bubble:nth-of-type(3) {
      width: 3rem;
      height: 3rem;
      bottom: 1.5rem;
      right: 1.5rem;
    }

    .art-bubble:nth-of-type(4) {
      width: 2rem;
      height: 2rem;
      top: 10rem;
      right: 0.5rem;
    }

    .art-bubble:nth-of-type(5) {
      width: 7rem;
      height: 7rem;
      top: 0;
      right: -5rem;
    }
  }

  button {
    height: 2.5rem;
    border-radius: 1.25rem;
    border-style: solid;
    font-size: 0.9rem;
    font-weight: 700;
    background: none;
    cursor: pointer;
    transition: all 0.25s ease;
  }

  button:focus {
    outline: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    > * {
      width: 100%;
      height: 2.5rem;
      box-sizing: border-box;
      border-radius: 1.25rem;
      margin-bottom: 0.25rem;
    }

    .input-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-style: solid;
      border-color: $accentLight;
      background: $accentLight;

      svg {
        width: 2.5rem;
      }

      input {
        width: calc(100% - 3.5rem);
        height: calc(100% - 0.375rem);
        border-color: $accentLight;
        background: $accentLight;
      }

      ::placeholder {
        color: white;
      }
    }

    input {
      border-style: solid;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.9rem;
    }

    input:focus {
      outline: none;
    }

    input[type='submit'] {
      border-color: white;
      margin: 1rem 0 0 0;
      background: none;
      font-weight: 700;
      color: inherit;
      cursor: pointer;
      transition: all 0.25s ease;
    }

    input[type='submit']:hover,
    input[type='submit']:focus {
      background: $accentLight;
    }
  }

  a {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: #eee;
  }

  .form-heading {
    margin: 0 0 5rem 0;
    font-weight: 700;
    text-align: center;
  }
}
