@import '../css-utils/colors';

#sidebar-wrap {
  position: fixed;
  left: 0;
  width: auto;
  height: 100vh;
}

#page-body {
  position: relative;
  min-height: 100vh;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > * {
    width: 100%;
  }

  #navbar-wrap {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 4rem;
  }

  #template-content {
    position: relative;
    margin-bottom: 16rem;

    .rolling {
      width: 20rem;
      height: 7rem;
      margin: 0 auto;
      text-align: center;
      background: url('/images/loading.gif') no-repeat;
      background-size: contain;
    }

    .transaction-table {
      width: 100%;
      border-radius: 0.5rem;
      box-shadow: 0 0 1rem 0 $shadow;

      * {
        text-align: center;
      }

      table {
        border-spacing: 0;
        font-size: 0.9rem;
        margin: 0;

        thead {
          background: $darkback;
          color: white;

          tr th {
            padding: 0.75rem;

            &:first-of-type {
              border-radius: 0.5rem 0 0 0;
            }

            &:last-of-type {
              border-radius: 0 0.5rem 0 0;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: 0.75rem 1rem;

              &.status-returned {
                color: green;
              }

              &.status-returned-overdue {
                color: darkred;
              }

              &.status-pending {
                color: $accent;
              }

              &.status-pending-overdue {
                color: red;
              }
            }

            &:first-of-type td {
              padding-top: 1rem;
            }

            &:last-of-type td {
              padding-bottom: 1.25rem;
            }

            &:nth-of-type(even) {
              background: $silver;
            }
          }
        }
      }
    }
  }

  #footer-wrap {
    position: absolute;
    bottom: 0rem;
  }
}
