/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

/* Colors */
$accentDark: #72bdff;
$accentLight: #8ecaff;
$shadow: rgba(0, 0, 0, 0.25);
