@import '../../css-utils/colors';

.book-list {
  height: calc(100vh - 13rem);
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: auto;
  -ms-overflow-style: none; /* hide scrollbar IE */
  scrollbar-width: none; /* hide scrollbar Firefox */
}

.book-list::-webkit-scrollbar {
  display: none; /* hide scrollbar Chromium, Safari */
}

.book-block {
  width: 50rem;
  display: flex;
  flex-direction: row;
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0 $shadow;
  background: white;
  cursor: pointer;
  transition: transform 0.25s ease;

  .book-img {
    width: 6rem;
    height: 7.5625rem;
    border-radius: 0.25rem;
    padding: 0 0.25rem;
    background: $darkBack;

    .book-stencil {
      width: 5.5rem;
      height: 7.5625rem;
      background-color: $lightgray;
      mask-image: url('/images/book-stencil.png');
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
    }
  }

  .book-desc {
    width: inherit;
    height: inherit;
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;

    h1 {
      margin: 0;
      color: $darkgray;
      font-family: 'Titillium Web', sans-serif;
      font-size: 1.5rem;
    }

    h2 {
      margin: 0.5rem 0;
      font-size: 0.9rem;
      font-weight: 200;
      color: $darkgray;
    }

    h3 {
      margin: 0.5rem 0;
      font-size: 0.8rem;
      font-weight: 200;
      color: $lightgray;
    }

    .book-tags {
      display: flex;
      flex-direction: row;
      margin: 0.25rem 0 0.5rem 0;
      font-family: 'Titillium Web', sans-serif;
      font-size: 0.8rem;
      font-weight: 200;
      color: white;

      .book-tag {
        margin-right: 0.25rem;
        padding: 0.125rem 0.25rem;
        background: $accentSecondary;
        border-radius: 0.25rem;
      }
    }

    p {
      font-family: 'Titillium Web', sans-serif;
      font-size: 0.95rem;
      text-align: justify;
      color: $darkgray;
    }
  }

  .book-req-btn {
    width: 10rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;

    * {
      font-family: 'Open Sans', sans-serif;
    }

    button {
      width: 100%;
      height: 2.25rem;
      border: none;
      font-weight: 600;
      color: white;
      background: $accentDark;
      cursor: pointer;
      transition: box-shadow 0.25s ease;
    }

    button:hover,
    button:focus {
      box-shadow: 0 0 0.5rem 0 $shadow;
      outline: none;
    }

    span {
      margin: 0.5rem 0 0 0.5rem;
      font-size: 0.9rem;
      color: $lightgray;
    }

    .book-qty {
      margin: 0.5rem 0 0 0.5rem;
      font-size: 0.8rem;
      color: $darkgray;
    }
  }
}

.book-block:last-of-type {
  margin-bottom: 2rem;
}
