$accent: #1877f2;
$accentdark: #166fe5;
$accentsecondary: #36a420;
$shadow: rgba(0, 0, 0, 0.1);
$darkshadow: rgba(0, 0, 0, 0.5);
$lightgray: lightgray;
$darkgray: gray;
$silver: #f0f2f5;
$lightbluesmoke: #c7ecee;
$darkback: #130f40;
$footeraccent: #14142f;
$footertext: #6966cc;
