$accentDark: #72bdff;
$accentLight: #8ecaff;
$accentSecondary: #736bfe;
$lightshadow: rgba(142, 202, 255, 0.45);
$shadow: rgba(0, 0, 0, 0.45);
$lightgray: darkgray;
$darkgray: #666;
$silver: #f3f3f3;
$whitesmoke: whitesmoke;
$darkBack: #130f40;
