$accent: #1877f2;
$accentdark: #166fe5;
$accentsecondary: #36a420;
$shadow: rgba(0, 0, 0, 0.1);
$lightgray: lightgray;
$darkgray: gray;
$silver: #f0f2f5;
$whitesmoke: whitesmoke;
$lightbluesmoke: #c7ecee;
$darkBack: #130f40;
